<style>
div{
}
body{
padding: 20px 20px;
}
.cartinka{
width: 100px;
float: left;
}
.text1{
clear: both;
}
block{
background-color: grey;
width: 200px;
margin-right: 10px;
padding: 10px 10px;
float: right;
}
</style>